* {
    box-sizing: border-box;
    margin: 0;
    
}

body {
    background-color: whitesmoke;
}

#topIntro {

    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    border: 5px solid black;
}

#subIntro {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
}

#progressBarDiv {
    width: 100%;
    margin-top: 10px;
    background-color: lightgray;
}
#progressBar {
    width: 1%;
    height: 30px; 
    background-color: rgb(43, 181, 43);
}

#progressNum {
    width: 100%;
    height: 40px;
    text-align: center;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: rgba(0, 0, 255, 0.193);
    border-radius: 5px;
}

#topDiv {
    font-size: 20px;
    
    color: white;
    margin-bottom: 20px;
    background-color:rgb(23, 163, 23);
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#beforeTopdiv {
    
    border: 2px solid lightcoral;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#inputDetailsDiv, #inputTitleDiv {
    
    margin-bottom: 10px;
    margin-top: 10px; 
    border: 2px solid lightgreen;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    
}

#inputDetailsDiv {
    height: 150px;

}

#inputTitleDiv {
    
    height: 100px;
   
    
}

#titleInput, #inputDetailsDiv textarea {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    background-color: yellow; 
    border: 2px solid gray;
    border-radius: 5px;
                                         /** target bigger parent class so it does not clash with other div's textaera 
                                           -- remove textarea from snippet to make it a div  --- so no need  **/
    margin-left: 5px;
    margin-right: 8px;
}

#titleInput {
    width: 30%;
}

textarea:focus, #titleInput:focus {
    
    border-color: 5px solid blue;
    outline: none;    /** helps with overriding browser specificity **/
    box-shadow: 0 0 0 1px #185ae8; /** covers browser borders **/
}





#editDelDiv {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 2px;
    border: 2px solid green;
    padding: 10px;  
    display: flex;
    justify-content: center;
    align-items: center;

}

.checkedbtnClass {
    margin-right: auto;
    cursor: pointer;
    border: 2px solid yellow;
}

#checkedOrNot {
    width: 20px;
    height: 20px;
    margin-right: auto;
    cursor: pointer;
}

.snippetClass {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    border: 2px solid orange;
    height: auto;
    background-color: lightblue;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#paraInSnippetId, #hdivInSnippetId {
    align-items: center;
    display: flex;
    border: 2px solid pink;
    margin: 1px;
}

#titleInfo, #detailsInfo {
    font-size: 16px;
    width: 100%;
    height: 50px;
    text-align: center;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    resize: none;
    margin: none;
}
#titleInfo {
    background-color: beige;
    border: 2px solid purple;
}
 #detailsInfo {
    
    background-color: yellow;
    border: 2px solid black;
}

.editDelDivtoAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border: 2px solid yellow;
}


#editButton, #deleteButton {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    
}



#editButton {
    background-color: rgba(200, 113, 20, 0.76);
    
}
#deleteButton {
    background-color: rgba(218, 27, 27, 0.91);
}

#editButton:hover, #deleteButton:hover, #checkedOrNot:hover {
    opacity: 1;
    transform: scale(1.1);
}