* {
    box-sizing: border-box;
    margin: 0;
    
}

body {
    background-color: whitesmoke;
}

#topIntro {
    
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
         /**margin-bottom: 10px; **/
    margin: 50px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(201, 213, 224);
    border-radius: 15px;
}

#subIntro {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
}

#totalTasksDivId {
    
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    border-bottom: 1px solid blueviolet;
    padding: 5px;
    background-color: lightcyan;
}

#progressBarDiv {
    width: 100%;
    margin-top: 10px;
    height: 20px;
    background-color: lightgray;
    border-bottom: 1px solid lightgray;
    border-radius: 5px;
}
#progressBar {
    width: 1%;
    height: 20px; 
    background-color: rgb(43, 181, 43);
    border-radius: 5px;
}

#progressNum {
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: whitesmoke;
    /* border: 2px solid black;
      border-radius: 5px;
      background-color: rgba(0, 0, 255, 0.193); */
    
}

#topDiv {
    font-size: 20px;
    border-radius: 5px;
    color: white;
    margin-bottom: 20px;
    margin-left: 6px;
    margin-right: 6px;
    background-color:rgb(23, 163, 23);
    text-align: center;
    padding: 10px;
    cursor: pointer;
    /* border: 5px solid purple; */
}

#beforeTopdiv {
    
   /* margin-top: 1px;
    margin-bottom: 1px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
   /* border: 2px solid lightcoral; */

}

#inputDetailsDiv, #inputTitleDiv {
    
    margin-bottom: 5px;
    margin-top: 5px; 
   
   /* margin: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
  /* border: 2px solid lightgreen; 
   border-radius: 5px; */
    
}

#inputDetailsDiv {
    height: 60px;
    align-items: normal; /* fills the div box */

}

#inputTitleDiv {
    
    height: 50px;
    align-items: flex-start;
    margin-bottom: 15px;
   
    
}

#titleInput, #inputDetailsDiv textarea {
    width: 95%;
    padding: 10px;
    font-size: 16px;
   /* background-color: yellow;  */
    border: 1px solid gray;
    border-radius: 5px;
                                         /** target bigger parent class so it does not clash with other div's textaera 
                                           -- remove textarea from snippet to make it a div  --- so no need  **/
    margin-left: 5px;
    margin-right: 8px;
}

#titleInput {
    width: 30%;
}

textarea:focus, #titleInput:focus {
    
    border-color: 5px solid blue;
    outline: none;    /** helps with overriding browser specificity **/
    box-shadow: 0 0 0 1px #185ae8; /** covers browser borders **/
}





#editDelDiv {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 6px;
    margin-right: 6px;
    border-bottom: 1px solid silver;
    padding: 10px;  
    display: flex;
    justify-content: center;
    align-items: center;

}

.madeDateClass {
    
    font-size: 17px;
    margin-right: auto;
   /* border: 2px solid brown; */
    height: auto;
    width: 195px;
    padding: 5px;
    pointer-events: none;
}

.checkedbtnClass {
    margin-right: auto;
    margin-left: 10px;
    cursor: pointer;
   /* border: 2px solid yellow; */
}

#checkedOrNot {
    width: 20px;
    height: 20px;
    margin-right: auto;
    cursor: pointer;
}
#checkedOrNot:checked {
    box-shadow: 0 0 0 2px greenyellow;
}

.snippetClass {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
   /* border: 2px solid orange; */
    height: auto;
   /* background-color: lightblue; */
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#paraInSnippetId, #hdivInSnippetId {
    align-items: center;
    display: flex;
   /* border: 2px solid pink; */
    margin: 1px;
}

#titleInfo, #detailsInfo {
    font-size: 16px;
  /*  width: 100%; */
    height: 50px;
    text-align: center;
    overflow-x: auto;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    resize: none;
    margin: none;
    border: 1px solid silver;
    border-radius: 5px;
    pointer-events: none;
    user-select: none;   /* no interactuon with the text in box */
}
#titleInfo {
    width: 50%;
    align-self: center;
    margin: 0 auto;           /* makes centering work along with align-self: center */
    background-color: whitesmoke; 
   /* border: 2px solid purple; */
}
 #detailsInfo {
    width: 85%;
    align-self: center;
    margin: 0 auto;
    background-color: whitesmoke;
    /* border: 2px solid black;  */
}

.editDelDivtoAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
   /* border: 2px solid yellow; */
}


#editButton, #deleteButton {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    
}



#editButton {
    background-color: #E6BB00;
    color: black;
    
}
#deleteButton {
    background-color: rgba(218, 27, 27, 0.91);
}

#editButton:hover, #deleteButton:hover, #checkedOrNot:hover {
    opacity: 1;
    transform: scale(1.1);
}


.parentDivClass {
    border: 3px solid black;

    padding: 10px;
    background-color: red;
    display: flex;
    flex-direction: column;
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 20%;
    width: 35%;
    height: 29%;
    margin-top: 10px;
    z-index: 9;
    overflow-y: auto;
    overflow-x: auto;
}

.editedTitleClass, .editedDetailsClass {
    border: 2px solid black;
    background-color: lightyellow;
    text-wrap: wrap;
    
}

.editedTitleClass {
    height: 30px;
   
} 

.editedDetailsClass {
    height: 50px;
    
}

.headingandInputClass, .detailsheadingandTextareaClass {
    display: flex;
    flex-direction: column;
    border: 2px solid greenyellow;
    margin-bottom: 10px;
}

.titleHeadingClass, .detailsHeadingClass {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    background-color: lightpink;
    text-align: left;
}



.okcancelDivClass {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid blue;
    margin-top: 1px;
}

.okbtnClass, .cancelbtnClass {
    font-size: 13px;
    padding: 5px 10px;
    color: white;
    background-color: green;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    margin-right: 5px;

}

/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
    #topIntro {
        margin: 20px;
        font-size: 20px;
    }

    #subIntro {
        font-size: 16px;
    }

    #titleInfo {
        width: 70%;
    }

    #detailsInfo {
        width: 95%;
    }

    #titleInput {
        width: 60%;
    }

    .parentDivClass {
        width: 80%;
        left: 10%;
        height: auto;
    }

    .snippetClass {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    #topIntro {
        margin: 10px;
        font-size: 18px;
        padding: 10px;
    }

    #subIntro {
        font-size: 14px;
    }

    #totalTasksDivId {
        font-size: 16px;
    }

    #progressNum {
        font-size: 16px;
    }

    #titleInfo {
        width: 90%;
    }

    #detailsInfo {
        width: 95%;
    }

    #titleInput {
        width: 95%;
    }

    #topDiv {
        font-size: 16px;
        margin: 5px;
        padding: 8px;
    }

    #editButton, #deleteButton {
        font-size: 14px;
        padding: 8px 15px;
        margin-right: 5px;
    }

    .parentDivClass {
        width: 95%;
        left: 2.5%;
        top: 10px;
    }

    .snippetClass {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 14px;
    }

    .madeDateClass {
        font-size: 14px;
        width: 150px;
    }
}