* {
    box-sizing: border-box;
    margin: 0;
    
}

body {
    background-color: whitesmoke;
}

#topIntro {

    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    border: 5px solid black;
}

#subIntro {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
}

#progressBarDiv {
    width: 100%;
    margin-top: 10px;
    background-color: lightgray;
}
#progressBar {
    width: 1%;
    height: 30px; 
    background-color: rgb(43, 181, 43);
}

#topDiv {
    font-size: 20px;
    
    color: white;
    margin-bottom: 20px;
    background-color:rgb(23, 163, 23);
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#beforeTopdiv {
    
    border: 2px solid black;
    margin-top: 15px;
    margin-bottom: 15px;

}

#inputDetailsDiv, #inputTitleDiv {
    
    margin-bottom: 10px;
    margin-top: 10px; 
    border: 2px solid rgb(185, 11, 11);
    padding: 5px;
    margin: 5px;
    
    

}
#inputDetailsDiv {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#inputTitleDiv {
    align-items: center;
    height: 100px;
    justify-content: center;
}

#taskInput[type="text"], #titleInput[type="text"] {
    
    font-size: 16px;
    padding: 5px;
    border: 2px solid black;
    
}

#taskInput {
    height: 110px;
    width: 40%;
     background-color: aquamarine;

}

#titleInput {
    width: 25%;
    height: 60px;
}

#editDelDiv {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid rgb(212, 237, 73);
    padding: 10px;  
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}


#editButton, #deleteButton {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    
}

#checkedOrNot {
    width: 20px;
    height: 20px;
    margin-right: auto;
    cursor: pointer;
}

#editButton {
    background-color: rgba(200, 113, 20, 0.76);
    
}
#deleteButton {
    background-color: rgba(218, 27, 27, 0.91);
}

#editButton:hover, #deleteButton:hover, #checkedOrNot:hover {
    opacity: 1;
    transform: scale(1.1);
}