* {
    box-sizing: border-box;
    margin: 0;
    
}

body {
    background-color: whitesmoke;
}

#topIntro {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
}

#subIntro {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
}

#topDiv {
    font-size: 20px;
    
    color: white;
    margin-bottom: 20px;
    background-color:rgb(23, 163, 23);
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#beforeTopdiv {
    height: 40px;
    border: 2px solid black;
    margin-bottom: 5px;

}

.beforeTopDiv taskInput[type="text"], titleInput[type="text"] {
    width: 40%;
    height: 60px;
    font-size: 16px;
    padding: 5px;
    border: 2px solid black;
    
}